input{
   width:50px;
  height:50px;   
 background:black;
 float:left;
  margin:2px;
  border:none;
  border-radius:3px;
  color:white;
}
div{
  width:162px;
  margin:30px auto;
 
}
button{
  width:79px;
	 background-color:#E8E7E3;
  //border:0;
  border-radius:5px; 
}
p{
  text-align:center;
}